[submodule "bin/nave"]
	path = bin/nave
	url = https://github.com/isaacs/nave.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
