[submodule "bin/nave"]
	path = bin/nave
	url = https://github.com/isaacs/nave.git
[submodule "bin/rbenv_git"]
	path = bin/rbenv_git
	url = https://github.com/sstephenson/rbenv.git

[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/minibufexpl.vim"]
	path = .vim/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
    ignore = untracked
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bin/xbuild"]
	path = bin/xbuild
	url = https://github.com/tagomoris/xbuild.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/neocomplecache"]
	path = .vim/bundle/neocomplecache
	url = https://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun
[submodule ".vim/bundle/neosnippet"]
	path = .vim/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
